/* App specific */
.app-title {
    text-align: center;
    margin-bottom: 30px;
}

li.list-group-item-success span,
li.list-group-item-success:hover span {
    text-decoration: line-through;
    
}

li.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    margin-top: 10px;
}

.add-task {
    width: 100%;
}

.remove-btn {
    cursor: pointer;
    border: none;
    background: none;
    height: 40px;
    width: 40px;
}

.remove-btn .icon {
    transform: rotateZ(45deg);
    font-weight: bold;
    font-size: 20px;
}

.remove-btn:active,
.remove-btn:focus {
    outline: none;
}
/* END of app specific */

/* General stuff */
[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }
/* END of General stuff 